numba==0.55.1
pandas==1.4.3
numpy==1.21.6
flair==0.10
wordcloud==1.8.1
sentence_transformers==2.2.0
fasttext==0.9.2
spacy==3.2.3
lemminflect==0.2.2
click==8.0.4
umap-learn==0.5.2
transformers==4.19.1
torch==1.12.1
MarkupSafe==2.0.1
wordninja==2.0.0
bertopic==0.9.4
nltk==3.7
sacremoses==0.0.46
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl